src/main/mule/session-02.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="a3e4721d-55f5-46b6-b644-d626f836d910" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="session-02Flow" doc:id="1e7d40af-e297-46ca-9952-0abdd10ef138" initialState="started">
		<http:listener doc:name="Listener" doc:id="f6554727-e211-41db-b30b-9e1bb843bd46" config-ref="HTTP_Listener_config" path="/test"/>
		<logger level="INFO" doc:name="Logger" doc:id="7445facf-e74e-45ab-be73-f82a29e6fcb4" message="------------------file received----------------------------"/>
		<file:read doc:name="Read" doc:id="7f3c5784-2a3d-457a-8260-3fbecbac20ef" config-ref="File_Config" path="C:\AnypointStudio\new-files-2021\in\student.csv"/>
		<logger level="INFO" doc:name="Logger" doc:id="ddb67e53-4f45-4726-9922-dbf90cb021c1" message="#[payload]"/>
	</flow>
</mule>
